@font-face {
  font-family: 'Galano-Grotesque-Bold';
  src: url(/src/Font/GalanoGrotesqueBold.otf);
}

@font-face {
  font-family: 'Galano-Grotesque-Extra-Bold';
  src: url(/src/Font/GalanoGrotesqueExtraBold.otf);
}

@font-face {
  font-family: 'Galano-Grotesque-Medium';
  src: url(/src/Font/GalanoGrotesqueMedium.otf);
}

@font-face {
  font-family: 'Galano-Grotesque-Regular';
  src: url(/src/Font/GalanoGrotesqueRegular.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Galano-Grotesque-Regular';
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}